{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="=IE=edge">
        <meta name="viewport" content="width=device-width. initial-scale=1"/>
        <meta name="description" content="Paloma Comercio"/>
        <meta name="keywords" content="Gerenciador, produtos, aplicacao web"/>
        <meta name="author" content="José Genilson"/>
        <title>Gerenciador de Estoque</title>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rHOYd3/BKVOFqjDl/1O6cAQuZbc7qTpLb2P87ow40A2trvAUbCU7WVXMTZJsOQS4" crossorigin="anonymous">
    <body>
        <nav class="navbar navbar-dark bg-primary navbar-static-top">

            <div class="container-fluid">
                <div class="navebar-header"> 
                    <img src="{% static '../static/estoque.png' %}" height='50px'>
                    <img src="{% static '../static/estoque2.png' %}" style="position: initial;" height='50px'>
                    <button class="navbar-toggler" 
                            type="button" 
                            data-bs-toggle="collapse" 
                            data-bs-target="#navbar" 
                            aria-controls="navbarNavDropdown" 
                            aria-expanded="false" 
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>

                    </button>
                        <p class="nav-item"><a class="navbar-brand" href="{% url 'index' %}"></a></p>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li><a class="dropdown-item" href="{% url 'home' %}">Home</a></li>
                        <li><a class="dropdown-item" href="{% url 'topics' %}">Topics</a></li>
                        <li><a class="dropdown-item" href="{% url 'new_topic' %}">Novos Topicos</a></li>
                        <li><a class="dropdown-item" href="{% url 'lista_produtos' %}">Lista de Produtos</a></li>
                        <li><a class="dropdown-item" href="{% url 'cria_produto' %}">Adicionar Produtos</a></li> 
                    </ul>
                
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                        <li><a>Olá, {{ user.username }}</a></li>
                            <div><img src="{% static '../static/login.png' %}" style="position: initial;" height='40px'></div>
                            <li><a href="{% url 'logout' %}">Sair</a></li><!--o logout nao é uma pagina e sim um caminho -->
                        {% else %}
                            <li><a href="{% url 'login' %}">Entrar</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>      
        
        <footer class="footer fixed-bottom mt-auto py-3 bg-light">
            <div class="container d-flex align-items-center">
                <span class="text-center mx-auto">© Copyright 2024</span>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-XeVhLwDk7pN8yIcP4tvFq3/t9b7XnOB9tmeCfXv1H6t/v4XU9eG1T1RSKMEIrFfN" crossorigin="anonymous"></script>
    </body>
</html>
  
 <!-- TODO O CONTEÚDO DE UM TEMPLATE DEVE SER EXIBIDO DENTRO DESSE BLOCK CONTEÚDO E O FINAL DELE. -->
 {% block content %}
   
 {% endblock content %}     
 <!-- FINAL DO TEMPLATE, É AQUI QUE FINALIZA A PARTE DO TEMPLATE QUE CRIEI, COLOCANDO ENTRE ELES O CÓDIGO DESCRITO  -->

