{% extends 'projetointegrador/base.html' %}


{% block content %}
<body>
    <style>
        /* Remove margem e preenchimento em torno do título */
        h4 {
            margin: 0; /* Remove todas as margens */
            padding: 0; /* Remove todo o preenchimento */
            margin-bottom: 0; /* Define a margem inferior como zero */
        }
        
    </style>
    <h4 style="margin-left: 20px">Lista de Saídas</h4>
    <div class="table-responsive">
        {% if saidas %}
            <table class="table table-bordered table-nover m-3 md-2 mt-0">
                <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Observação</th>
                        <th>Data de Registro</th>
                        <th>Itens da Saída</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for saida in saidas %}
                        <tr>
                            <td class="bg-light">{{ saida.pk }}</td>
                            <td class="bg-light">{{ saida.observacao }}</td>
                            <td class="bg-light">{{ saida.data_saida|date:"d/m/Y H:i:s" }}</td>
                            <td class="bg-light">
                                <ul class="list-group">
                                    {% for item in saida.itens.all %}
                                        <li class="list-group-item">{{ item.produto.nome }} - Quantidade: {{ item.quantidade }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                <!-- Link para remover a saída -->
                                <a href="{% url 'remover_saida' saida.pk %}"class="btn btn-danger btn-sm">Remover</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <p>Nenhuma saída registrada.</p>
        {% endif %}
        <div>
            <a href="{% url 'registrar_saida' %}"class="btn btn-success btn-sm m-5 mt-0" style="width: 120px; height: 50px;">Registrar Nova Saída</a>
        </div>
    </body>
{% endblock content %}