{% extends 'projetointegrador/base.html' %}


{% block content %}
<body>
    <h2>Confirmar Remoção de Saída</h2>
    <p>Você está prestes a remover a seguinte saída:</p>
    <p><strong>ID:</strong> {{ saida.pk }}</p>
    <p><strong>Observação:</strong> {{ saida.observacao }}</p>

    <p>Tem certeza de que deseja remover esta saída?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit">Confirmar Remoção</button>
    </form>

    <a href="{% url 'lista_saida' %}">Cancelar e Voltar para Lista de Saídas</a>
</body>
{% endblock content %}